<div class="bg-off-white pv4">
    <div class="ph3 mw7 center">
        <div class="flex-ns mhn2-ns mb3">

            <div class="ph2-ns w-50-ns">
            <h2 class="f3 b lh-title mb2">{{.sideone.heading}}</h2>
            <p>{{.sideone.text}}</p>
            </div>
            <div class="ph2-ns w-50-ns">
            <h2 class="f3 b lh-title mb2">{{.sidetwo.heading}}</h2>
            <p>{{.sidetwo.text}}</p>
            </div>
        </div>

        <div class="flex-ns mhn2-ns mb3">

            <div class="ph2-ns w-50-ns">
            <h2 class="f3 b lh-title mb2">{{.sidethree.heading}}</h2>
            <p>{{.sidethree.text}}</p>
            </div>
            <div class="ph2-ns w-50-ns">
            <h2 class="f3 b lh-title mb2">{{.sidefour.heading}}</h2>
            <p>{{.sidefour.text}}</p>
            </div>
        </div>

        <div class="flex-ns mhn2-ns mb3">

            <div class="ph2-ns w-50-ns">
            <h2 class="f3 b lh-title mb2">{{.sidefive.heading}}</h2>
            <p>{{.sidefive.text}}</p>
            </div>
        </div>
    </div>
</div> 